

@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

body {
    background:#eee;
    margin:0;
    padding:0;
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    color: #02827b;
    text-decoration: none;
    
}

#header {
    text-align: center;
    margin:0;
    padding:0;
}

.heading {
    margin:0;
    padding:13px 5px;
    font-size:small;
    background:url(http://flambon.xtgem.com/files/natur/zv3.png)repeat-x bottom
}

.description {
    margin:0;
    padding:7px 5px;
    font-size:small;
    background:#6b9a00;
    border-top:3px solid #016300;
    color:#ccc;
    text-shadow:#111 1px 1px 1px;
    border-bottom:1px solid #7cab11
}

#navigation {
    background:url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00;
    margin:0;
    text-decoration: none;
    padding:6px 0;
    text-align:center;
    border-top:1px solid #0ba59e;
    border-bottom:3px solid #016300
}

#navigation span {
    margin:1px;
    padding:4px 2px;
    display:inline-table;
    width:26%;
    background:url(http://flambon.xtgem.com/files/natur/zv6.png)repeat-x top,#444;
    border:1px solid #7cab11
}

a {
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    text-decoration: none;
    color:#eee;
}

.description:before {
    content:"";
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv2.png)top right no-repeat;
    padding:22px 0;
    margin:-43px 0 0 0
}

#top-content {
    background:url(http://flambon.xtgem.com/files/natur/zv8.png)repeat,#ddd;
    margin:0;
    padding:6px 0;
    text-decoration: none;
    border-bottom:1px solid #fff;
    text-align:center
}

#search-form [type=text] {
    width:60%;
    background:url(http://flambon.xtgem.com/files/natur/wn4.png)repeat-x top,#eee;
    margin:1px;
    font-size: 22px;
    text-align:center;
    padding:4px;
    font-family: 'Delius Unicase', cursive;
    color:#333;
    border:1px solid #bbb
}
    
#search-form [type=submit] {
    width:20%;
    margin:1px;
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    padding:4px;
    border:1px solid #5a8900;
    color:#ffe;
    background:url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00
    }
    
.post,
.post-single {
    background:url(http://flambon.xtgem.com/files/natur/zv18.png)bottom right no-repeat,url(http://flambon.xtgem.com/files/natur/zv21.png)repeat-x bottom,url(/files/natur/zv17.png)repeat-x top,#333;
    margin:7px 5px 36px 5px;
    padding:0;
    border:3px solid #777;
    color:#ccc;
    font-size: 40px;
}

.post-meta:before {
    content:"";
    display:;
    padding:22px 0;
    margin:-40px 0 0 5px
}

.categories,
.post-meta
.title {
    margin:0;
    padding:2px 0;
    font-size:small
}

.post-meta {
    margin:0;
    padding:5px;
    border-bottom:1px solid #111;
    color:#777
}

#content {
    background:url(http://flambon.xtgem.com/files/natur/zv22.png)bottom left no-repeat;
    margin:0;
    padding:28px 0 1px 0
}

.post:before,
.post-single:before {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv9.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv10.png)bottom left no-repeat;
    margin:-3px -3px -8px -3px
}

.post:after,
.post-single:after {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv11.png)bottom right no-repeat,url(http://flambon.xtgem.com/files/natur/zv12.png)bottom left no-repeat;
    margin:-7px -3px -3px -3px
}

.post-content {
    display:block;
    margin:0;
    padding:9px 5px;
    border-top:1px solid #444;
    text-align: center;
}

.post-meta2 {
    margin:0;
    padding:5px
}

#pagination-links {
    border-bottom:1px solid #bbb;
    background:url(http://flambon.xtgem.com/files/natur/zv24.png)repeat-x top,#ddd;
    border-top:3px solid #777;
    text-align:center;
    margin:0;
    padding:5px 2px 7px 2px
}

#pagination-links span {
    padding:4px;
    display:inline-block;
    background: url(http://flambon.xtgem.com/files/natur/zv17.png)repeat-x top,#333;
    color:#ccc;
    border:1px solid #222
}

#pagination-links a {
    padding:4px;
    display:inline-block;
    margin-top:2px;
    text-decoration:none;
    background:url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00;
    border:1px solid #497800;
    color:#fff;
    text-shadow:#111 1px 1px 1px
}

#navigation-menu h3 a {
    margin:0;
    padding:7px 5px;
    background:url(http://flambon.xtgem.com/files/natur/zv36.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00;
    color:#eee;
    text-shadow:#111 1px 1px 1px;
    display:block;
    width:45%
}

#navigation-menu h3 {
    background:url(http://flambon.xtgem.com/files/natur/zv32.png)repeat-x bottom,#ddd;
    margin:0;
    padding:7px 0 0 0;
    border-bottom:3px solid #777;
    border-top:1px solid #eee;
}

#navigation-menu ul {
    margin:-3px 0 0 0;
    padding:20px 5px 5px 5px;
    background:url(http://flambon.xtgem.com/files/natur/zv33.png)top left no-repeat
}
    
#navigation-menu li {
    list-style:none;
    margin:0;
    padding:5px;
    background:url(http://flambon.xtgem.com/files/natur/zv35.png)repeat-x top,#6b9a00;
    border:1px solid #777;
    border-width:1px 3px;
    border-color:#7cab11 #555 #497800 #555
}

#navigation-menu li:first-child {
    border-top:3px solid #555 !important
}

#navigation-menu li
.last {
    border-bottom:3px solid #555 !important
}

#navigation-menu li:first-child:before {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv28.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv29.png)bottom left no-repeat;
    margin:-8px -8px 0 -8px
} 

#navigation-menu li
.last:after {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv30.png)bottom right no-repeat,url(http://flambon.xtgem.com/files/natur/zv31.png)bottom left no-repeat;
    margin: 0 -8px -8px -8px
}

#category-bottom {
    margin:0;
    padding:0 0 1px 0;
    background:url(http://flambon.xtgem.com/files/natur/zv46.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv37.png)repeat-x top,#ddd;
    border-top:1px solid #fff
}

#navigation-menu {
    border-bottom:1px solid #ccc
}

#category-bottom h3 {
    margin:0;
    padding:8px 5px;
    color:#222;
    text-shadow:#eee 1px 1px 1px
}

#category-bottom ul {
    margin:5px;
    padding:0;
    border:3px solid #777;
    background:url(http://flambon.xtgem.com/files/natur/zv47.png)repeat-x top,url(http://flambon.xtgem.com/files/natur/zv45.png)repeat-x bottom,#333
}

#category-bottom li {
    list-style:none;
    margin:0;
    padding:5px;
    border-top:1px solid #444;
    border-bottom:1px solid #151515;
    color:#ccc;
    text-align:right
}

h6 {
    margin:0;
    padding:0
}

#footer {
    border-bottom:1px solid #bbb;
    background:url(http://flambon.xtgem.com/files/natur/zv46.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv37.png)repeat-x top,#ddd;
    border-top:1px solid #fff;
    text-align:center;
    margin:0;
    display: block;
    text-decoration: none;
    padding:5px;
}

#footer img {
    display:none
    }

.post-single
.post-content {
    border-bottom:1px solid #111
}

a,
.post-meta
.title {
    color:#690;
    text-shadow:#111 1px 1px 1px
}

#navigation-menu h3 a,
#comments h3 a,
#following-list h4 a,
#blogroll_list h3 a {
    color:#eee;
    text-shadow:#111 1px 1px 1px
}

#navigation-menu li a,
.comment-header 
.title a {
    color:#ddd !important;
    text-shadow:#222 1px 1px 1px !important
}

.post
.post-content a{
    color:#777
}

.post-content li {
    background:#444;
    margin:0;
    padding:5px;
    border-top:1px solid #555;
    border-bottom:1px solid #222;
    list-style:none
}

.post-content h3,
.post-content h6 {
    background:#6b9a00;
    margin:0;
    padding:5px;
    color:#eee;
    font-size:35px;
}

.post-content h2 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#444
}

.post-content h4 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#555
}

.post-content h5 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#666
}

.post-content h1 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#777
}

body img {
    max-width:80%;
    max-height:80%
}

.post-single
.post-content textarea {
    width:70px;
    height:70px;
    padding:0;
    margin:0
}

.post-content,
.comment-content {
    word-wrap:break-word
}

#navigation-menu li h3,
#navigation-menu li h5 {
    margin:-5px;
    padding:5px;
    background:#444;
    color:#ccc
}

#footer h6:before {
    content:"fmb_" !important;
    display:inline !important
}

#ribbon {
    padding: .34em 1em;
    margin: 0;
    margin-top: 5%;
    position:relative;
    color: #ffffff;
    font: 32px 'Patua One', sans-serif;
    text-align: center;
    letter-spacing:0.1em;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
    inset 0px 0px 20px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.4);
    background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
    display: inline-block;
}
	
#ribbon:before,
#ribbon:after {
    content: "";
    width:.2em;
    bottom:-.5em;
    position:absolute;
    display:block;
    border: .9em solid #1eb2df;
    box-shadow:0px 1px 0px rgba(0,0,0,0.4);
    z-index:-2;
}
	
#ribbon:before {
    left:-1.35em;
    border-right-width: .75em;
    border-left-color:transparent;
	}
	
#ribbon:after {
    right:-1.35em;
    border-left-width: .75em;
    border-right-color:transparent;
}
	
#content:before, #content:after {
    content:"";
    bottom:-.5em;
    position:absolute;
    display:block;
    border-style:solid;
    border-color: #0675b3 transparent transparent transparent;
    z-index:-1;
}
	
#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}
	
#content:after {
    right: 0;
    border-width: .5em .5em 0 0;
}

h2 {
    font-family: 'Delius Unicase', cursive;
    font-size: 35px;
    text-align: center;
    color: #02827b;
}

/* -------------------- Page Styles (not required) */

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

code {
    padding:4px;
    display:inline-block;
    background: url(http://flambon.xtgem.com/files/natur/zv17.png)repeat-x top,#333;
    color:#ccc;
    font-family: 'Delius Unicase', cursive;
    border:1px solid #222;
}OT LOG/*Theme By Mujahid Khan*/
/*Nature Css - Type 1*/
/*Date: 19 March 2017*/
/*fb.com/100015646142559*/

@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

body {
    background:#eee;
    margin:0;
    padding:0;
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    color: #02827b;
    text-decoration: none;
}

#header {
    text-align: center;
    margin:0;
    padding:0;
}

.heading {
    margin:0;
    padding:13px 5px;
    font-size:small;
    background:url(http://flambon.xtgem.com/files/natur/zv3.png)repeat-x bottom
}

.description {
    margin:0;
    padding:7px 5px;
    font-size:small;
    background:#6b9a00;
    border-top:3px solid #016300;
    color:#ccc;
    text-shadow:#111 1px 1px 1px;
    border-bottom:1px solid #7cab11
}

#navigation {
    background:url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00;
    margin:0;
    text-decoration: none;
    padding:6px 0;
    text-align:center;
    border-top:1px solid #0ba59e;
    border-bottom:3px solid #016300
}

#navigation span {
    margin:1px;
    padding:4px 2px;
    display:inline-table;
    width:26%;
    background:url(http://flambon.xtgem.com/files/natur/zv6.png)repeat-x top,#444;
    border:1px solid #7cab11
}

a {
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    text-decoration: none;
    color:#eee;
}

.description:before {
    content:"";
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv2.png)top right no-repeat;
    padding:22px 0;
    margin:-43px 0 0 0
}

#top-content {
    background:url(http://flambon.xtgem.com/files/natur/zv8.png)repeat,#ddd;
    margin:0;
    padding:6px 0;
    text-decoration: none;
    border-bottom:1px solid #fff;
    text-align:center
}

#search-form [type=text] {
    width:60%;
    background:url(http://flambon.xtgem.com/files/natur/wn4.png)repeat-x top,#eee;
    margin:1px;
    font-size: 22px;
    text-align:center;
    padding:4px;
    font-family: 'Delius Unicase', cursive;
    color:#333;
    border:1px solid #bbb
}
    
#search-form [type=submit] {
    width:20%;
    margin:1px;
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    padding:4px;
    border:1px solid #5a8900;
    color:#ffe;
    background:url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00
    }
    
.post,
.post-single {
    background:url(http://flambon.xtgem.com/files/natur/zv18.png)bottom right no-repeat,url(http://flambon.xtgem.com/files/natur/zv21.png)repeat-x bottom,url(/files/natur/zv17.png)repeat-x top,#333;
    margin:7px 5px 36px 5px;
    padding:0;
    border:3px solid #777;
    color:#ccc;
    font-size: 40px;
}

.post-meta:before {
    content:"";
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv2.png)top left no-repeat,url(http://flambon.xtgem.com/files/natur/zv15.png)bottom right no-repeat;
    padding:22px 0;
    margin:-40px 0 0 5px
}

.categories,
.post-meta
.title {
    margin:0;
    padding:2px 0;
    font-size:small
}

.post-meta {
    margin:0;
    padding:5px;
    border-bottom:1px solid #111;
    color:#777
}

#content {
    background:url(http://flambon.xtgem.com/files/natur/zv22.png)bottom left no-repeat;
    margin:0;
    padding:28px 0 1px 0
}

.post:before,
.post-single:before {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv9.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv10.png)bottom left no-repeat;
    margin:-3px -3px -8px -3px
}

.post:after,
.post-single:after {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv11.png)bottom right no-repeat,url(http://flambon.xtgem.com/files/natur/zv12.png)bottom left no-repeat;
    margin:-7px -3px -3px -3px
}

.post-content {
    display:block;
    margin:0;
    padding:9px 5px;
    border-top:1px solid #444;
    text-align: center;
}

.post-meta2 {
    margin:0;
    padding:5px
}

#pagination-links {
    border-bottom:1px solid #bbb;
    background:url(http://flambon.xtgem.com/files/natur/zv24.png)repeat-x top,#ddd;
    border-top:3px solid #777;
    text-align:center;
    margin:0;
    padding:5px 2px 7px 2px
}

#pagination-links span {
    padding:4px;
    display:inline-block;
    background: url(http://flambon.xtgem.com/files/natur/zv17.png)repeat-x top,#333;
    color:#ccc;
    border:1px solid #222
}

#pagination-links a {
    padding:4px;
    display:inline-block;
    margin-top:2px;
    text-decoration:none;
    background:url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00;
    border:1px solid #497800;
    color:#fff;
    text-shadow:#111 1px 1px 1px
}

#navigation-menu h3 a {
    margin:0;
    padding:7px 5px;
    background:url(http://flambon.xtgem.com/files/natur/zv36.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv4.png)repeat-x bottom,#6b9a00;
    color:#eee;
    text-shadow:#111 1px 1px 1px;
    display:block;
    width:45%
}

#navigation-menu h3 {
    background:url(http://flambon.xtgem.com/files/natur/zv32.png)repeat-x bottom,#ddd;
    margin:0;
    padding:7px 0 0 0;
    border-bottom:3px solid #777;
    border-top:1px solid #eee;
}

#navigation-menu ul {
    margin:-3px 0 0 0;
    padding:20px 5px 5px 5px;
    background:url(http://flambon.xtgem.com/files/natur/zv33.png)top left no-repeat
}
    
#navigation-menu li {
    list-style:none;
    margin:0;
    padding:5px;
    background:url(http://flambon.xtgem.com/files/natur/zv35.png)repeat-x top,#6b9a00;
    border:1px solid #777;
    border-width:1px 3px;
    border-color:#7cab11 #555 #497800 #555
}

#navigation-menu li:first-child {
    border-top:3px solid #555 !important
}

#navigation-menu li
.last {
    border-bottom:3px solid #555 !important
}

#navigation-menu li:first-child:before {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv28.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv29.png)bottom left no-repeat;
    margin:-8px -8px 0 -8px
} 

#navigation-menu li
.last:after {
    content:"";
    padding:5px;
    display:block;
    background:url(http://flambon.xtgem.com/files/natur/zv30.png)bottom right no-repeat,url(http://flambon.xtgem.com/files/natur/zv31.png)bottom left no-repeat;
    margin: 0 -8px -8px -8px
}

#category-bottom {
    margin:0;
    padding:0 0 1px 0;
    background:url(http://flambon.xtgem.com/files/natur/zv46.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv37.png)repeat-x top,#ddd;
    border-top:1px solid #fff
}

#navigation-menu {
    border-bottom:1px solid #ccc
}

#category-bottom h3 {
    margin:0;
    padding:8px 5px;
    color:#222;
    text-shadow:#eee 1px 1px 1px
}

#category-bottom ul {
    margin:5px;
    padding:0;
    border:3px solid #777;
    background:url(http://flambon.xtgem.com/files/natur/zv47.png)repeat-x top,url(http://flambon.xtgem.com/files/natur/zv45.png)repeat-x bottom,#333
}

#category-bottom li {
    list-style:none;
    margin:0;
    padding:5px;
    border-top:1px solid #444;
    border-bottom:1px solid #151515;
    color:#ccc;
    text-align:right
}

h6 {
    margin:0;
    padding:0
}

#footer {
    border-bottom:1px solid #bbb;
    background:url(http://flambon.xtgem.com/files/natur/zv46.png)top right no-repeat,url(http://flambon.xtgem.com/files/natur/zv37.png)repeat-x top,#ddd;
    border-top:1px solid #fff;
    text-align:center;
    margin:0;
    display: block;
    text-decoration: none;
    padding:5px;
}

#footer img {
    display:none
    }

.post-single
.post-content {
    border-bottom:1px solid #111
}

a,
.post-meta
.title {
    color:#690;
    text-shadow:#111 1px 1px 1px
}

#navigation-menu h3 a,
#comments h3 a,
#following-list h4 a,
#blogroll_list h3 a {
    color:#eee;
    text-shadow:#111 1px 1px 1px
}

#navigation-menu li a,
.comment-header 
.title a {
    color:#ddd !important;
    text-shadow:#222 1px 1px 1px !important
}

.post
.post-content a{
    color:#777
}

.post-content li {
    background:#444;
    margin:0;
    padding:5px;
    border-top:1px solid #555;
    border-bottom:1px solid #222;
    list-style:none
}

.post-content h3,
.post-content h6 {
    background:#6b9a00;
    margin:0;
    padding:5px;
    color:#eee;
    font-size:35px;
}

.post-content h2 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#444
}

.post-content h4 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#555
}

.post-content h5 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#666
}

.post-content h1 {
    font-size:small;
    margin:0;
    padding:5px;
    background:#777
}

body img {
    max-width:80%;
    max-height:80%
}

.post-single
.post-content textarea {
    width:70px;
    height:70px;
    padding:0;
    margin:0
}

.post-content,
.comment-content {
    word-wrap:break-word
}

#navigation-menu li h3,
#navigation-menu li h5 {
    margin:-5px;
    padding:5px;
    background:#444;
    color:#ccc
}

#footer h6:before {
    content:"fmb_" !important;
    display:inline !important
}

#ribbon {
    padding: .34em 1em;
    margin: 0;
    margin-top: 5%;
    position:relative;
    color: #ffffff;
    font: 32px 'Patua One', sans-serif;
    text-align: center;
    letter-spacing:0.1em;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
    inset 0px 0px 20px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.4);
    background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
    display: inline-block;
}
	
#ribbon:before,
#ribbon:after {
    content: "";
    width:.2em;
    bottom:-.5em;
    position:absolute;
    display:block;
    border: .9em solid #1eb2df;
    box-shadow:0px 1px 0px rgba(0,0,0,0.4);
    z-index:-2;
}
	
#ribbon:before {
    left:-1.35em;
    border-right-width: .75em;
    border-left-color:transparent;
	}
	
#ribbon:after {
    right:-1.35em;
    border-left-width: .75em;
    border-right-color:transparent;
}
	
#content:before, #content:after {
    content:"";
    bottom:-.5em;
    position:absolute;
    display:block;
    border-style:solid;
    border-color: #0675b3 transparent transparent transparent;
    z-index:-1;
}
	
#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}
	
#content:after {
    right: 0;
    border-width: .5em .5em 0 0;
}

h2 {
    font-family: 'Delius Unicase', cursive;
    font-size: 35px;
    text-align: center;
    color: #02827b;
}

/* -------------------- Page Styles (not required) */

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}

code {
    padding:4px;
    display:inline-block;
    background: url(http://flambon.xtgem.com/files/natur/zv17.png)repeat-x top,#333;
    color:#ccc;
    font-family: 'Delius Unicase', cursive;
    border:1px solid #222;
}IN AREA (GET TOKEN PUT YOUR TOKEN)AND RUN YOUR BOT";display:block;padding:8px 5px;background:url()right center no-repeat,#2192ad;border:1px solid #00708b;border-width:1px 0;color:#eee;text-shadow:#222 1px 1px 1px}
.post:nth-child(2) {background:#eaeaea;margin:0;padding:0;border-bottom:1px solid #d3d3d3}
.post+.post .post-content {content:none}
.post:nth-child(2) .post-meta {margin:0;padding:15px 5px;border-top:4px solid #ccc;color:#888}
.post+.post .post-meta2 {display:none}
.post+.post+.post .post-meta {margin:0;padding:15px 5px;border-top:1px solid #fff;border-bottom:1px solid #d3d3d3;color:#888}
.post+.post .post-meta .title:before {content:url();float:left;margin-right:5px}
.post+.post+.post .post-meta .title:before {content:url();float:left;margin-right:5px}
.post+.post+.post+.post .post-meta .title:before {content:url();float:left;margin-right:5px}
.post+.post+.post+.post+.post .post-meta .title:before {content:url();float:left;margin-right:5px}
.thumbnail{border:1px solid #666 !important;margin:2px 2px 0 0 !important;width:50px !important;height:60px !important;padding:1px !important}
#pagination-links {text-align:center;margin:0;padding:4px 3px 6px 3px;border-top:1px solid #fff;background:#eaeaea;}
#pagination-links span {padding:4px;display:inline-block;background:#2192ad;color:#fff;border:1px solid #00708b}
#pagination-links a {padding:4px;display:inline-block;margin-top:2px;text-decoration:none;background:#444;border:1px solid #222;color:#eee}
#blogroll_list h3,#blogroll h3,#navigation-menu h3 {margin:0;padding:8px 5px;color:#eee;text-shadow:#222 1px 1px 1px;border-width:1px 0}
#blogroll_list ol,#navigation-menu ul,#blogroll ul {margin:0;padding:3px 0}
#navigation-menu li {list-style:none;background: rgba(255, 255, 255, 0.18);padding:6px}
#blogroll_list li:after,#blogroll li:after,#navigation-menu li:after {content:"";display:block;padding:10px;background:url()bottom left no-repeat;margin:-20px 0 0 -15px}
.post:first-child .post-meta2 span {content:"People"}
#recent-posts-list h4,#category-bottom h3,#following-list h4 {padding:8px 5px;background:url()right center no-repeat,#2192ad;border:1px solid #00708b;border-width:1px 0;color:#eee;text-shadow:#222 1px 1px 1px;margin:0}
#category-bottom ul,#recent-posts-list ol,#following-list ol {margin:0;padding:0;border-top:4px solid #ccc}
#category-bottom li {list-style:none;margin:0;padding:6px 5px;border-top:1px solid #fff;border-bottom:1px solid #d3d3d3;text-align:right}
#recent-posts-list li:first-child,#following-list li:first-child,#category-bottom li:first-child {background:#e8e8e8;border-top:none !important}
#recent-posts-list li:last-child,#following-list li:last-child,#category-bottom li.last {background:#e8e8e8;}
#category-bottom li a {float:left}
#recent-posts-list li,#following-list li {list-style:none;margin:0;padding:6px 5px;border-top:1px solid #fff;border-bottom:1px solid #d3d3d3}
#blogroll_list li,#blogroll li {list-style:none;background:url()right center no-repeat,url()repeat-x top,#fff;margin:3px 5px 3px 10px;border:1px solid #d3d3d3;padding:6px}
#footer h6 {margin:0;padding:0}
#footer {text-align:center;margin:0;padding:5px;color:#eee;}
#bottom-content:after {content: "";text-align:center;display:block;color:#eee;padding:6px 5px}
#footer:after {content: " ";text-align:center;display:block;color:#eee;padding:6px 5px}
#footer img  {display:none}
.post-single .post-meta {background:#eaeaea;margin:0;padding:7px 5px;color:#888;border-bottom:1px solid #d3d3d3}
.post-single .post-meta .title:before {content:url();float:left;margin-right:5px}
.post-single .post-content {border-top:1px solid #fff;padding:7px 5px;margin:0}
#share-buttons {background:url()repeat-x top,#fff;margin:0 5px 5px 10px;border:1px solid #d3d3d3;padding:6px;text-align:right}
#share-buttons:after {content:"";display:block;padding:10px;background:url()bottom left no-repeat;margin:-23px 0 3px -15px}
#comments h3 {background:url()center right no-repeat,url()repeat-y right,#2192ad;margin:0;padding:8px 5px;color:#eee;text-shadow:#222 1px 1px 1px;border:1px solid #00708b;border-width:1px 0}
#comments h4 {background:url()repeat-x top,#fff;margin:5px 5px 5px 10px;border:1px solid #d3d3d3;padding:6px;}
#comments h4:after {content:"";display:block;padding:10px;background:url()bottom left no-repeat;margin:-23px 0 3px -15px}
#comments h5 {background:#e5e5e5;margin:0;padding:8px 5px;border:1px solid #d3d3d3;border-width:1px 0}
.comment-header .title {background:transparent !important;padding:0 !important;border:none !important}
.comment {background:url()repeat-x top,#fff;margin:5px 5px 5px 10px;border:1px solid #d3d3d3;padding:0;}
.comment-header {margin:0;padding:0 5px 5px 5px;color:#888}
.comment-content {margin:0;padding:5px;}
.comment:before {content:"";display:block;padding:10px;background:url()top left no-repeat;margin:10px 0 -23px -9px}
#comment_form{text-align:left;margin:0;padding:5px;background:#eaeaea;border-top:4px solid #ccc;border-bottom:1px solid #d3d3d3}
#comment_form textarea{width:80%;margin:2px 0;padding:15px 0;background:#fff;border:1px solid #ccc;color:#333}
#comment_form input[type=text],.mobile_body
#comment_form select{width:50%;margin:2px 0;padding:3px;background:#fff;border:1px solid #ccc;color:#333}
#comment_form [type=submit] {margin:2px 0;padding:3px;background:#444;border:1px solid #333;color:#ffe}
.highlight {margin:0;padding:8px 6px;text-align:center;border-bottom:1px solid #d3d3d3;border-top:1px solid #fff}
#comments ol {margin:0;padding:0}
#comments li {list-style:none;margin:0;padding:8px 5px;background:#444;border:1px solid #222;border-width:1px 0;text-align:center;color:#eee}
.post-content h3,.post-content h5 {background:#ddd;margin:0;padding:3px;text-shadow:none;border:1px solid #ccc;text-align:center;color:#222}
.post-content h1,.post-content h2 {background:#ddd;margin:0;padding:3px;text-shadow:none;border:1px solid #ccc;text-align:center;color:#222;font-size:small}
.post-content h4 {margin:0;background:#ddd;border:1px solid #ccc;color:#222;padding:4px;text-align:center;}
.post-content h4 a {display:inline-table;width:40%;text-shadow:none}
.post-content h6 {background:#333;padding:6px 5px;color:#eee;border-bottom:3px solid #555;margin:0;text-shadow:none}
.post-content ol {margin:0;padding:0;background:#ddd}
.post-content li {list-style:none;margin:0;padding:5px;border-top:1px solid #eee;border-bottom:1px solid #bbb}
body img {max-width:80%;max-height:80%}
a {color: #FAFAFA;text-shadow: #000 1px 1px 1px;text-decoration: none;}
#footer a,.heading a,#navigation-menu h3 a,#comments h3 a,#navigation a,#following-list h4 a,#blogroll_list h3 a {color:#eee;text-shadow:#222 1px 1px 1px}
.post-single .post-meta .title,#following-list li a,#category-bottom li a,#recent-posts-list li a {color:#444;text-shadow:#fff 1px 1px 1px}
.post:first-child .post-content a {color:#444;text-shadow:none}
#footer span {background:transparent !important;border:none !important;color:#eee !important}
.date {display:none}
.post-single .post-content textarea {width:70px;height:70px;padding:0;margin:0}
.post-content,.comment-content {word-wrap:break-word}
#navigation-menu li h3,#navigation-menu li h5 {margin:-6px;padding:8px 6px;border:none;background:#2192ad;color:#eee}
#footer h6:before {content:"
" !important;display:inline !important}
#pagination-links a {text-shadow:none}
.jarvis{width: 400px;-webkit-animation: antispin 9s linear infinite;-moz-animation: antispin 9s linear infinite;animation: antispin 9s linear infinite;}
.jarvis-inner{width: 285px;-webkit-: spin 4s linear infinite;-moz-:spin 4s linear infinite;: spin 4s linear infinite;margin-top: -330px;margin-left: 60px;}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes antispin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes antispin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes antispin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }